header {
  background: url("../img/main_background.jpg") no-repeat;
  color: white;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

hr.underscore {
  border-color: #2D3237;
  width: 150px;
  height: 3px;
  background-color: #2D3237; }

.navbar-nav {
  height: 40px; }

.navbar-custom {
  height: 40px;
  padding-right: 20px;
  opacity: 0.7;
  z-index: 0; }

.img-edit {
  height: 260px; }

.portfolio-modal .after-img-edit {
  height: 400px;
  width: 1000px; }

section.success {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/handshake.jpg") no-repeat !important; }
