.header .index
  background: url(img/background.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

.img-edit
  height: 260px

.portfolio-modal .after-img-edit
  height: 400px
  width: 1000px

// header
//   background: #0B8B53
